{% load i18n %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome home</title>
  </head>
  <body>
    <h1>Welcome home</h1>
    <h2>Django 1.5.1 example with Python 2.7</h2>
    <h3><a href="/admin">You can try admin now (^-^)</a></h3>
    <a href="http://www.python.org.br/wiki"><img src="{{ MEDIA_URL }}img/pythonbrasil_logo.png" border="0" alt="Python Brasil" title="Python Brasil" /></a>&nbsp;&nbsp;
    <a href="http://www.djangoproject.com/"><img src="{{ MEDIA_URL }}img/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
  </body>
</html>
